### IntelliJ IDEA ###
# User-specific files
.idea/*
*.iws
*.iml
*.ipr

# Logs and temporary files
logs/
*.log
/out/
/tmp/
.vscode/

# Gradle files
.gradle/
build/

# Kotlin and Java compilation files
*.class
*.jar
*.war
*.ear
*.kotlin_metadata
*.kotlin_module
*.java~

# Dependency directories
/lib/
**/lib/
target/

# Maven files
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# OS-specific files
*.DS_Store
Thumbs.db

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

### Kotlin Native ###
/kotlin-native/

### Kotlin/Java Tests ###
test-results/

